<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9a70855e-84cf-43eb-85c0-8e82f8b7255c/resourceGroups/SwipperResourceGroup/providers/Microsoft.Web/sites/SwipperResource</ResourceId>
    <ResourceGroup>SwipperResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/9a70855e-84cf-43eb-85c0-8e82f8b7255c/resourceGroups/SwipperResourceGroup/providers/Microsoft.ApiManagement/service/SwipperAPIManagement/apis/SwipperAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://swipperresource.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ad375e02-eb66-4af8-8624-c9f18c1e3859</ProjectGuid>
    <MSDeployServiceURL>swipperresource.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SwipperResource</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$SwipperResource</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>